@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
body {
  height: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0; 
  display: flex;
  flex-direction: column;
}

.container-dark {
  background-color: #4D321D;
  color: #FFFAF6;
  padding: 0 15%;
}

.container-white {
  background-color: #FFFAF6;
  color: #4D321D;
  padding: 0 15%;
}

.container-action {
  background-color: #FFFAF6;
  color: #4D321D;
  padding: 100px 10%;
}

.container-grey {
  background-color: #F7EBE1;
  color: #4D321D;
  padding: 0 15%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

.links {
  color: #F7EBE1;
}


.intro {
  padding: 64px 0;
  display: flex;
  align-items: flex-start;
}

.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.hero-title {
  font-size: 48px;
  font-weight: bold;
}

.text {
  font-size: 18px;
  color: #F7EBE1;
}

button {
  border: none;
  border-radius: 6px;
  padding: 8px 32px;
  background-color: #354D7F;
  color: #FFFAF6;
  font-size: 16px;
  font-weight: bold;
}

.img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 250px;
  height: auto;
  border-radius: 6px;
}


.information {
  padding: 64px 0px;
}

.info-title {
  text-align: center;
  margin-bottom: 64px;
  font-size: 32px;
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.info div {
  width: 150px;
  text-align: center;
}

.info div img {
  width: 150px;
  height: 150px;
  border: 4px solid #354D7F;
  border-radius: 16px;
}

.info-text {
  margin-top: 16px;
  font-size: 18px;
}


.quote {
  padding: 64px;
  text-align: center;
  font-size: 36px;
  font-weight: 200;
}

.quote span {
  display: flex;
  justify-content: flex-end;
  color: #4D321D;
  font-size: 24px;
  font-weight: 500;
}


.action {
  display: flex;
  background-color: #354D7F;
  border-radius: 12px;
  padding: 48px 112px;
  color: #FFFAF6;
}

.action-text {
  flex: 1;
}
.call-to-action {
  font-size: 24px;
  font-weight: bold;
}

.cta-text {
  color: #F7EBE1;
  font-size: 16px;
  width: 75%;
}

.button-action {
  border: 2px solid #FFFAF6;
  border-radius: 6px;
  flex: none;
  align-self: center;
}


.footer {
  justify-content: flex-end;
  text-align: center;
  background-color: #4D321D;
  color: #FFFAF6;
  font-size: 18px;
  padding: 42px 0px;
}


.logo {
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #F7EBE1;
}

a:hover {
  color: #c99367;
}
